/* *{
    margin: 0;
    padding: 0;
} */


.nav-parent{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.flex{
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    font-weight: bolder;
}

.w-15{
    width: 15%;
}
.w-45{
    width: 45%;
}
.w-25{
    width: 25%;
}


.nav-parent p {
    cursor: pointer;    
}


.w-25>:hover{
    scale: 1.05;
    color:  rgb(91, 84, 84);
}
.w-45>:hover{
    scale: 1.05;
    color: rgb(91, 84, 84);
}

.w-15>:hover{
    scale: 1.05;
    color: rgb(91, 84, 84);
}
